export POSTGRES_DB=raiderio_ladder
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=postgres
export POSTGRES_DRIVER=org.postgresql.Driver
export POSTGRES_URL=jdbc:postgresql://localhost:5432/raiderio_ladder?user=postgres&password=postgres
export RIOT_API_KEY=******************************************
export JWT_SECRET=toalhitasWasHere
export JWT_ISSUER=http://localhost:8080